* {
    height: 98%;
    margin: 0;
}

body {
    background-color: RGB(45, 45, 45);
    color: RGB(255, 255, 255);
    text-shadow:  
    1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
    font-size: 30px;
}

.container {
    height: 100%;
    width: 100%;
}