body {
    background-color: RGB(45, 45, 45);
    color: RGB(255, 255, 255);
    padding: 5%;
}


.dheader {
    position: fixed;
    width: 100%;
    background-color: RGB(45, 45, 45);
    top: 0;
    left: 0;
    text-align: left;
    padding-top: 0;
    padding-left: 20px;
    font-size: 36px;
    vertical-align: middle;
    text-shadow:  
    1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
}

.container{
    display: inline-grid;
    grid-gap: 2vw;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 25px;
    width: 100%;
}
.hw-btn {
    text-align: center;
    text-decoration: none;
    color: white;   
    font-size: 24px;
    padding: 10px;
    background-color: RGB(45, 45, 45);
    border: 2px solid white;
    transition: 0.08s;
}
.hw-btn:hover {
    transition: 0.08s;
    background-color: white;
    color: RGB(45, 45, 45);
    cursor: pointer;
}

.link {
    font-size: 20px;
    color: white;
}
.link:hover {
    color: red;
}

.link-header {
    display: inline-block;
    text-align: left;
    font-size: 24px;
    color: white;
}
.link-header:hover {
    color: red;
}
.hw-header {
    text-align: center;
    margin: auto;
    font-size: 36px;
    text-shadow:  
    1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
}