* {
    height: 98%;
    margin: 0;
}

body {
    background-color: RGB(45, 45, 45);
    color: RGB(255, 255, 255);
    text-shadow:  
    1px 1px black,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
}

.grid-container {
    height: 100%;
    margin: 1% 1% 0 1%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item1 item2"
    "item3 sub-grid-container sub-grid-container"
    "item3 sub-grid-container sub-grid-container";
}

.grid-container div {
    display: grid;
    font-size: 60px;
    align-content: center;
    border-radius: 10px;
    justify-content: center;
}

.sub-grid-container {
    display: grid;
    grid-area: sub-grid-container;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
    "item4 item4"
    "item5 item6"; 
}

.item1 {
    grid-area: item1;
    background-color: darkseagreen;
}
.item2 {
    grid-area: item2;
    background-color: sandybrown
}
.item3 {
    grid-area: item3;
    background-color: lightskyblue;
}
.item4 {
    grid-area: item4;
    background-color: plum;
}
.item5 {
    grid-area: item5;
    background-color: lightblue;
}
.item6 {
    grid-area: item6;
    background-color: coral;
}